.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.ipynb_checkpoints
*.pkl
*__pycache__
data/assembled_data.csv
data/census_data.csv
data/*ridgeImp.csv
data/*rfImp.csv
data/data_to_impute.csv
data/*.rds
data/train.csv
data/test.csv
data/trainV.csv
data/valV.csv
data/testV.csv
