.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.ipynb_checkpoints
*__pycache__
*.pkl
data/assembled_data*
data/census_data.csv
data/train_ridgeImp.csv
data/train_ridgeImp2.csv
data/train_rfImp.csv
data/trainV_ridgeImp.csv
data/trainV_ridgeImp2.csv
data/trainV_rfImp.csv
data/valV_ridgeImp.csv
data/valV_ridgeImp2.csv
data/valV_rfImp.csv
data/test_ridgeImp.csv
data/test_ridgeImp2.csv
data/test_rfImp.csv
data/testV_ridgeImp.csv
data/testV_ridgeImp2.csv
data/testV_rfImp.csv
data/data_to_impute.csv
data/train.csv
data/test.csv
data/trainV.csv
data/valV.csv
data/testV.csv
data/*Pred.csv

